.post-list {
	list-style-type: none;
}

.post-list li {
	text-align: center;
	margin-top: $lg-spacing-unit;
	margin-bottom: $lg-spacing-unit;
}

.post-list hr:last-of-type {
//hides the last hr in the post list
	display: none;
}

.page-title {
	font-family: $body-font;
}

.featured-work {
	text-align: center;

	img {
		margin: $spacing-unit auto;
		border-radius: $border-radius;
	}

	.post-link {
		color: $secondary-color;
	}

	span {
		vertical-align: middle;
	}
	
}
