.site-header {
	height: $lg-spacing-unit;
	width: 80%;
	width: 80vw;
	margin: $spacing-unit auto;
	border-bottom: 4px solid $link-color;
}
.site-title {
	line-height: $lg-spacing-unit;
	float: left;
	color: $secondary-color;
	&:visited {
		color: $secondary-color;
	}
	&:hover {
		color: darken($secondary-color,15%);
	}
}
.site-navigation {
	list-style-type: none;
	float: right;
}
.site-navigation-link {
	margin-left: $spacing-unit;
	display: inline;
	float: left;
	line-height: $lg-spacing-unit;
	a {
		color: $secondary-color;
		&:visited {
			color: $secondary-color;
		}
		&:hover {
			color: darken($secondary-color,15%);
		}
	}
}