.wrapper {
	width: 100%;
	max-width: $content-width;
	margin: 0 auto;
}

section {
	margin-top: $lg-spacing-unit;
	margin-bottom: $lg-spacing-unit;
	padding-top: $spacing-unit;
	padding-bottom: $spacing-unit;
}