/* ==========================================================================
   TYPE

   - Fonts
   - Headers
   - Copy

   ========================================================================== */

/* Headers
   ========================================================================== */
h1, h2, h3, h4, p { margin: 0; }

//H1 huge page headers
h1, .h1 { font: normal 400 64px/1.40625 $header-font; margin-bottom: $spacing-unit; }
//H2 secondary subtitle headers
h2, .h2 { font: normal 400 48px/1.25 $header-font; }
//H3 in-page headers, section headers
h3, .h3 { font: normal 400 32px/1.875 $header-font; margin-top: $spacing-unit;}
//SMALL Bold, all caps, used for navigation links, dates
small, .small { font: normal 700 14px/2.14285 $small-font; text-transform: uppercase; letter-spacing: 0.1em; }
//PARAGRAPH Used for paragraph/body text
p { font: normal 400 20px/1.5 $body-font; margin-bottom: $spacing-unit;}

/*
  =========================================================================== */

.intro {
	padding: 0 $spacing-unit;
	text-align: center;
}

hr {
    border: 0;
    border-bottom: dotted 3px $secondary-color;
    margin: $spacing-unit auto;
}

hr.thin {
  border: 0;
  border-bottom: solid 1px $secondary-color;
  margin: $spacing-unit/2 auto;
}

//Code and Pre Blocks
pre,
code {
    font-size: 14px;
    border: 1px solid $secondary-color;
    border-radius: $border-radius;
    background-color: $background-color;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

//Blockquotes
blockquote {
    color: $secondary-color;
    border-left: 4px solid $secondary-color;
    padding-left: $spacing-unit / 2;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}